
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('wp1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
}
